xm8-server/node_modules/*
EasyPIC/**/*.cfg
EasyPIC/**/*.cp
EasyPIC/**/*.dbg
EasyPIC/**/*.dct
EasyPIC/**/*.dlt
EasyPIC/**/*.emcl
EasyPIC/**/*.hex
EasyPIC/**/*.log
EasyPIC/**/*.lst
EasyPIC/**/*.mcp32_cal
EasyPIC/**/*.user.dic
EasyPIC/**/*.asm
EasyPIC/**/*.mcp32_callertable.txt
.DS_Store
