
input[type='range']{
  width: 100px !important;
  -webkit-appearance: none;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  transform: rotate(270deg) translateY(-86px) translateX(9px);
  transform-origin: bottom right;
  margin: 2px;
  display: inline-block;
  -webkit-writing-mode: horizontal-tb;
}

section {
  border: 3px solid #eee;
  width: 20px;
  height: 110px;
  display: inline-block;
  font-family: Arial, Calibri;
  color: #555;
}