.graphSvgContainer {
  margin-top: 10px;
  overflow: auto;
  box-shadow: inset 0 2px 10px rgba(0,0,0,0.5);
  background: rgba(240, 240, 240, .05);

  margin-left: 0px; 
  margin-right: 0px;
  height: 500px;
 
}

.graphSvg {
 
  height: 1000px;
  width: 1000px;

  .node {
    .nodebox {
      margin: 10px;
      fill: #999;
      stroke: #999;
      stroke-width: 1;
      filter: url(#drop-shadow);

      &.output {
        stroke: #1aa3ff;
        fill: #1aa3ff;        
      }

      &.invalid {
        stroke: #d00;
        fill: #d00;
      }

      &.selected {
        stroke: #0f0;
        fill: #0f0;      
        filter: url(#graphglow);
      }

    }
    .label {
      font-size: 10px;
      fill: #aeb6bd;
    }

    .nodeicon {
      font-size: 10px;
      fill: #3a3b3f; 
      text-shadow: none;     
    }
  }

  .link {
    stroke: #555;
    stroke-width: 2;
    filter: url(#drop-shadow);

    &.selected {
      stroke: #0f0;
      filter: url(#glow);
    }       
  }

  .linkLabel {
    font-size: 10px;
    fill: #aeb6bd;

   
  }

  textpath,
  text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }

  textpath::selection,
  text::selection {
    background: none;
  }   
}