.leftcolumn{
  float: left;
  width: 54px;
}
.centercolumn{
  float:none;
  overflow: hidden;

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar
  { 
    background: transparent;  
  }  
}
.rightcolumn{
  float: right;
  width: 300px;
  padding: 10px;
}

.tricol-left{
  float: left;
  width: 300px;
  padding: 10px;
}

.tricol-center{
  float: none;
  overflow: hidden;
  width: 300px;
  padding: 10px; 
}

.tricol-right{
  float: right;
  width: 300px;
  padding: 10px;  
}