.inputList{

  .inputDescription{
    width: 150px;
    margin-bottom: 5px;    

    .value{    
      font-size: 10px;
      color: #818d98;
    }
  }
}

.inputForm {
  .inputOptions {
    .label{
      width: 100px;
    }
    .value{
      width: 60px;
    }
  }
}

