.controllerGroup {
  &.grid {
    background-image: repeating-linear-gradient(0deg, transparent, transparent 0.95em, #444 0.95em, #444 1em),
    repeating-linear-gradient(-90deg, transparent, transparent 0.95em, #444 0.95em, #444 1em);
    background-size: 1em 1em;

    .selected {
      border: 1px solid #090;
      > div {
        // makes sure element doesn't move when we add a border
        position: relative;
        top: -1px;
        left: -1px;
      }
    }

    .dragging {
      border: 1px solid #0e0;
      > div {
        // makes sure element doesn't move when we add a border
        position: relative;
        top: -1px;
        left: -1px;
      }
    }
  }
}