.grid{
  height: 30.05em;
  width: 100%;
  background-image: repeating-linear-gradient(0deg,transparent,transparent 0.95em,#555 0.95em,#555 1em),
    repeating-linear-gradient(-90deg,transparent,transparent 0.95em,#555 0.95em,#555 1em);
  background-size: 1em 1em;
  position: relative;

  .selected{
    position: absolute;
    top: 4em;
    left: 5em;
    width: 9.95em;
    height: 4.95em;
    border: 1px solid #f00;
  }

}
