.inputgroups{
  .actions{
    margin: 5px;
    margin-bottom: 14px;
    .dropdown{
      label{
        position: relative;
        top: 1px;
        margin-right: 5px;
      }
    }
  }

  .dropdownLabel {
    margin-bottom: 5px;
  }
}

.groupPropsForm {
  margin-bottom: 10px;
  label.small {
    // create som air between checkbox and label. Done this way because input is inside label tag
    position: relative;
    left: 5px;

    input {
      position: relative;
      left: -5px;
    }
  }
}