.inputgroups{
  .properties{
    margin: 5px;
    margin-bottom: 14px;
    .dropdown{
      label{
        position: relative;
        top: 1px;
        margin-right: 5px;
      }
    }
  }
}

.groupPropsForm {
  margin-bottom: 10px;
}