.nodeForm {
  .nodeBlock {
    margin-bottom: 20px;
  }
  .dropdownBlock {
    display: flex;
    align-items: center;
    .miniicon {
      margin-left: 10px;
    }
  }
  .paramBlock {
    .paramValue {
      position: relative;
      top: 1px;
      width: 80px;
      margin-right: 5px;
      margin-left: 1px;
      margin-top: 1px;
    }
  }
}

.invalid {
  color: #f00;
}

.nodeForm, 
.linkForm { 

  label {
    padding-top: 7px;
    padding-bottom: 3px;
    display: block;
    clear: both;
  }  
  .miniicon{
    float:right;
    margin-top: 1px;
    margin-right: 18px;

  }
}

.nodeList{
  margin-bottom: 10px;
}

.linkList,
.nodeList {
  ul,li { 
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; 
  }
  li{
    margin-bottom: 5px;
    &:hover{
      color: #fff;
    }
  }
  .miniicon{
    float:right;
  }
}

.nodeType {
  .miniicon {
    position: relative;
    top: -2px;  
  }
}

.linkdialog {
  width: 400px;

  .intro{
    margin-bottom: 10px;
  }

  label {
    display: none;
  }

  button {
    margin-top: 15px;
    margin-right: 5px;
  }   
  .parameterDescription{
    width: 350px;
    height: 30px;
    margin-bottom: 5px;    

    .value{    
      font-size: 10px;
      color: #818d98;
    }
  }

}