.matrix {
  /* fixed-data-table overrides */
  .fixedDataTableRowLayout_fixedColumnsDivider,
  .fixedDataTableLayout_header, 
  .fixedDataTableLayout_hasBottomBorder,
  .fixedDataTableLayout_main,
  .fixedDataTableCellLayout_main {
    border: none;
  }

  /** TODO: ADD BETTER COLUMN HEADER STYLING ***/;
  .fixedDataTableCellGroupLayout_cellGroup{
    background: url("/img/transparent_grainy_background.png"), radial-gradient(#3a3b3f, #313236);
  }
}

.matrixbutton{
  height: 30px;
  width: 30px;
  margin: 2px;
  border-radius: 5px;
  background-image: -webkit-radial-gradient(#e0e3e6, #9da6af);
  box-shadow: inset -1px -1px 2px #333, 1px 1px 3px rgba(0,0,0,0.3);

  &.on{
    background-image: -webkit-radial-gradient(#00ff00, #00cc00);
    box-shadow: inset -1px -1px 2px #373, 0px 0px 5px #0a0, 1px 1px 3px rgba(0,0,0,1);
  }
}


$col-label-height: 120px;
$button-cell: 34px;
$hover-color: #fff;

.buttonmatrixcols,
.buttonmatrixrows {
  &.hover{
    color: $hover-color;
  }  
}

.buttonmatrixcols {
  /* height makes room for rotated label text */
  height: $col-label-height;
  white-space: nowrap;

  .rotated {
    transform: translate(2px, 35px) rotate(-90deg);
    width: 30px;
  }    
}

#buttonmatrixcols {
  td {
    /* height makes room for rotated label text */
    height: $col-label-height;
    white-space: nowrap;
    .hover{
      color: $hover-color;
    }
  }

  td > div {
    transform: translate(15px, 40px) rotate(-45deg);
    width: 30px;
  }
}

#buttonmatrixrows{
  float: left;

  table {
    margin-right: 5px;
  }
  tr {
    height: $button-cell;    
  }   
  td {
    .hover{
      color: $hover-color;
    }    
  } 

  .corner{
    height: $col-label-height;
  }
}

#buttonmatrix{
  float: none;
  tr {
    height: $button-cell;    
  }    
  td {
    width: $button-cell;
  }

  table{
    border-spacing: 0px;
  }  
}
