.matrixbutton{
  height: 30px;
  width: 30px;
  margin: 2px;
  border-radius: 5px;
  background-image: -webkit-radial-gradient(#e0e3e6, #9da6af);
  box-shadow: inset -1px -1px 2px #333, 1px 1px 3px rgba(0,0,0,0.3);

  &.on{
    background-image: -webkit-radial-gradient(#00ff00, #00cc00);
    box-shadow: inset -1px -1px 2px #373, 0px 0px 5px #0a0, 1px 1px 3px rgba(0,0,0,1);
  }
}

$col-label-height: 120px;


#buttonmatrix,
#buttonmatrixrows{
  tr {
    height: 34px;    
  }  
}

#buttonmatrixcols {
  td {
    /* Something you can count on */
    height: $col-label-height;
    white-space: nowrap;
  }

  td > div {
    transform: 
      /* Magic Numbers */
      translate(15px, 40px)      
      rotate(-45deg);
    width: 30px;
  }
}

#buttonmatrixrows{
  float: left;

  table {
    margin-right: 5px;
  }

  .corner{
    height: $col-label-height;
  }
}

#buttonmatrix{
  float: none;
  td {
    width: 34px;
  }

  table{
    border-spacing: 0px;
  }  
}
