.nodeForm {
  .nodeBlock {
    margin-bottom: 20px;
  }
  .dropdownBlock {
    display: flex;
    align-items: center;
    .miniicon {
      margin-left: 10px;
    }
  }
  .paramBlock {
    .paramValue {
      width: 80px;
      margin-right: 5px;
    }
  }
}

.linkForm {
  
}

.nodeForm, 
.linkForm {

  margin: 10px; 

  label {
    padding-top: 7px;
    padding-bottom: 2px;
    display: block;
    clear: both;
  }  
}