.matrixSvg {

  background: rgba(240, 240, 240, .05);
  border-radius: 15px;
  box-shadow: inset 0 2px 10px rgba(0,0,0,0.5);

  .node {
    .nodebox {
      fill: #999;
      stroke: #555;
      stroke-width: 2;

      &.invalid {
        stroke: #f00;
        fill: #f55;
      }

      &.selected {
        stroke: #aaa;
        stroke-width: 3;
      }

    }
    .label {
      font-size: 10px;
      stroke: #aeb6bd;
    }
  }

  .link {
    stroke: #555;
    stroke-width: 2;
    &.selected {
      stroke: #aaa;
      stroke-width: 3;
    }    
  }
}