.nodeForm {
  .nodeBlock {
    margin-bottom: 20px;
  }
  .dropdownBlock {
    display: flex;
    align-items: center;
    .miniicon {
      margin-left: 10px;
    }
  }
  .paramBlock {
    .paramValue {
      position: relative;
      top: 1px;
      width: 80px;
      margin-right: 5px;
      margin-left: 1px;
      margin-top: 1px;
    }
  }
}

.nodeForm, 
.linkForm { 

  label {
    padding-top: 7px;
    padding-bottom: 2px;
    display: block;
    clear: both;
  }  
}

.linkdialog {
  width: 400px;

  .intro{
    margin-bottom: 10px;
  }

  label {
    display: none;
  }

  button {
    margin-top: 15px;
    margin-right: 5px;
  }   
  .parameterDescription{
    width: 350px;
    height: 30px;
    margin-bottom: 5px;    

    .value{    
      font-size: 10px;
      color: #818d98;
    }
  }

}