@import 'grid';
@import 'filedialog/filedialog';
@import 'mainmenu';
@import 'matrixforms';
@import 'matrixsvg';

body {
  margin: 0px;
  background-color: #666;
  color: #eee;
  font-family: sans-serif;
}

.miniicon {
  height: 16px;
}