@import 'range';

#controlPage{
  .centercolumn{
    height: 100%;
  }

  .leftcolumn{

    .menuicon {

      .image {
        height: 20px;
        width: 20px;
      }
      .name{
        display: block;
        font-size: 12px;
      }
    }
  }

}

.controllerGroup{
  height: 30.05em;
  width: 100%;
  position: relative;

  .controller {
    position: absolute;
  }
}
